@keyframes fade-in {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

@keyframes to-left {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

::view-transition-new(root) {
  animation: 0.5s to-left;
}

::view-transition-old(root) {
  animation: 0.5s fade-in;
}
